/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background-color: #e2e5eb;
    font-family: 'Poppins', sans-serif;
}

.conteiner {
    width: min(90vw, 800px);    
    margin: auto;    
}


/*Header============================*/
header {
    background: linear-gradient(180deg, #5B21B6, #4C1D95 60%);
    padding: 2rem 0 12rem;
    text-align: center;
}

/* Titles */
h1 {
    font-size: 2rem;
    text-align: center;
}

/* Form */
div.form {
    margin-top: -8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 5px;
    border:2px solid;
    height: 3rem;
    width: 10rem;
}

.type {
    text-align: center;
}

/*Table*/
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}

#tableTransactions {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #524d67;
    overflow-x: auto;
}


table thead tr th:first-child, 
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
} 

table thead tr th:last-child, 
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background-color: white;
    font-weight: normal;
    color: #524d67;
    padding: 1rem 2rem; 
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}
 
table tbody td {
    background-color: white;
    padding: 1rem 2rem;
}
/* td, th {
    border: 1px solid #cccccc;
    padding: 10px;
} */

/*Buttons*/
button {
    width: 180px;
    height: 3rem;
}

button:hover {
    background-color: var(--greenHover);
}

/*Footer*/
#icon {
    width: 20px;
    padding: 0 0;
    margin: 0;
    display: inline;
    border-radius: 100%;
    transform: translatey(0px);
    box-shadow: 4px 6px 6px 1px rgb(0 0 0 / 56%);
    transition: 0.7s;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
}

/*Responsive*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}