/* Global */
* {
    margin: 0;
    padding: 0;
}

/* Titles */
h1 {
    font-size: 2rem;
    text-align: center;
}

/* Form */
div.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 180px;
    height: 3rem;
}

input {
    border-radius: 5px;
    border:2px solid;
    height: 3rem;
    width: 10rem;
}

.type {
    text-align: center;
}

table {
    margin: auto;
}