* {
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
    background-color: #4169E1;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  p {
    margin: 0.5rem 0 0.75rem;
    font-size: 1.5rem;
  }
  
  .temp {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 5rem;
    height: 1.5rem;
  }

  #inp {
    margin: 0 50px;
    padding: 20px;
    background-color: rgba(137, 43, 226, 0.301);
  }
  